%h1 Listing posts

%table
  %thead
    %tr
      %th User
      %th
      %th
      %th

  %tbody
    - @posts.each do |post|
      %tr
        %td= post.user
        %td= link_to 'like', upvote_post_path(post)
        %td= link_to 'dislike', downvote_post_path(post)
%br

= link_to 'New Post', new_post_path
